<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            Hey, {{{name}}}!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 17px 0 0;">
                We haven't seen each other for a long time. Have you forgotten about our platform, which is designed to change your life?
            </p>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <a href="{{frontUrl}}">VISIT NOW</a>
        </td>
    </tr>
</table>
